@using System.Configuration
@using SoundCloudPodcast.Core
@{
    var api = new SoundCloudApi(ConfigurationManager.AppSettings["ApiKey"]);
    var tracks = api.GetTracks("mikewardca");
    Response.ContentType = "text/xml";
    
}

<rss version="2.0">
    <channel>
        <title>Mike Ward is Full of Shit</title>
        <link>https://soundcloud.com/mikewardca</link>
        <description>For French people Mike Ward is a comedy legend, for English people he's just an unknown chubby guy with a drinking problem and a lot of funny stories. In this episode Mike talks about French comedy, crazed fans and how the Hells Angels saved his life. Enjoy.</description>
        @foreach (var track in tracks) {
            <item>
                <title>@track.Title</title>
                <link>@track.PermalinkUrl</link>
                <description>@track.Description</description>  
                <enclosure url="@track.DownloadUrl" type="audio/mp3" />
            </item>
        }
    </channel>
</rss>